.payu__dashboard {
  padding: 6px;
}

.payu__dashboard-hero {
  width: 100%;
  height: 40vh;
  position: relative;
  border-radius: 20px;
}

.payu__dashboard-hero-content {
  position: absolute;
  padding: 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--hero-text);
  display: inline;
}

.payu__dashboard-image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 20px;
}

.placeholder {
  animation: animation 2s infinite;
}

@keyframes animation {
  0% {
    background-color: #b1b1b1;
  }
  50% {
    background-color: #dadada;
  }
  100% {
    background-color: #b1b1b1;
  }
}

.payu__dashboard-item {
  color: var(--text);
  margin-top: 10px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payu__dashboard-item__text p {
  font-size: 16px;
}

.payu__dashboard-item__button {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.payu__dashboard-item__button button {
  border: 0;
  font-size: 25px;
  color: var(--text);
  background-color: transparent;
}

.payu__dashboard-item__button button:hover {
  background-color: transparent;
}

.payu__dashboard-item__button button a,
.payu__dashboard-item__button .payu__dashboard-logout-button {
  color: var(--text);
  padding: 9.5px;
  display: flex;
  align-items: center;
}

.payu__list-patungan {
  padding: 6px;
  flex-direction: column;
}

.payu__list-patungan .list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payu__list-patungan-item {
  margin: 5px 0;
  background-color: var(--list);
  border-radius: 10px;
  padding: 15px 20px;
}

.payu__list-patungan-item a {
  color: var(--text);
}

.payu__list-patungan-item__text {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.payu__list-patungan-item__text > p {
  padding: 5px 0 5px 0;
  color: var(--text-small);
  font-size: 14px;
}

.payu__list-patungan-item__description {
  font-weight: 600;
}