.info-page {
  padding: 8px;
}

.info-page__image {
  margin: 10px 10px 50px 10px;
}

.info-page__image img {
  display: block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.info-page__text {
  color: var(--text);
  margin-bottom: 30px;
}

.info-page__text p {
  margin: 10px 0;
}

.info-page__link a {
  padding: 15px 22px;
  margin: 10px 0;
  text-decoration: none;
}

.info-page__link a:hover {
  background-color: var(--button-green-light);
}

/* 
  about page
*/

.about-page {
  padding: 8px;
}

.about-page div h2 {
  color: var(--text-green);
}

.about-page__what p {
  margin: 5px 0 30px 0;
}

.about-page__why p {
  margin: 5px 0 30px 0;
}

.about-page__who__list {
  margin: 5px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr;
}

.about-page__who__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.about__page__who__image {
  width: 120px;
  border-radius: 50%;
}

.about__page__who__content {
  padding-left: 20px;
  width: 100%;
}

.about__page__who__content p {
  font-weight: 200;
  margin: 5px 0 10px 0;
}

.about__page__who__content-links {
  display: flex;
  align-items: center;
}

.about__page__who__content-links a {
  font-size: 30px;
  padding: 6.5px;
  display: flex;
  margin-right: 10px;
}

.about__page__who__content-links a:hover {
  color: var(--text-green);
  transition: all .3s ease-in;
}