.login-page {
  padding: 8px;
}

.login-page__header {
  margin-bottom: 25px;
}

.login-page__header p {
  color: var(--text-smaller);
}

.login__action {
  margin-top: 15px;
}

.login__action button {
  padding: 15px 22px;
}

.login-page a {
  text-decoration: none;
  color: var(--text-green);
  font-weight: 600;
}

.login__link {
  margin: 15px 2px;
  font-size: 14px;
}

/* 
  register
*/

.register-page {
  padding: 8px;
}

.register-page__header {
  margin-bottom: 25px;
}

.register-page__header p {
  color: var(--text-smaller);
}

.input-register h2 {
  margin-bottom: 25px;
}

.register__action {
  margin-top: 15px;
}

.register__action button {
  padding: 15px 22px;
}

.register-page a {
  text-decoration: none;
  color: var(--text-green);
  font-weight: 600;
}

.register__link {
  margin: 15px 2px;
  font-size: 14px;
}