@media screen and (max-width: 435px) {
  header h1 {
    font-size: 24px;
    margin-left: 10px;
  }

  header .navigation ul li {
    font-size: 14px;
    margin: 0 8px;
  }
}

@media screen and (min-width: 435px) {
  header .navigation ul li {
    font-size: 14px;
    margin: 0 8px;
  }
}

@media screen and (min-width: 600px) {
  .detail__dashboard-item {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {
  .payu__dashboard {
    width: 100%;
  }

  .payu__dashboard-hero,
  .payu__dashboard-image {
    border-radius: 20px;
  }

  .payu__dashboard-item {
    height: 100%;
  }

  .payu__dashboard-item h3 {
    font-size: 26px;
  }

  .payu__dashboard-item__patungan p {
    font-size: 16px;
  }

  .payu__list-patungan-item {
    padding: 20px 25px;
    border-radius: 20px;
  }

  .payu__list-patungan-item__description {
    font-size: 18px;
  }

  .payu__list-patungan-item__text p {
    font-size: 14px;
  }

  .payu__dashboard-item__button button {
    font-size: 32px;
  }

  .payu__list-patungan {
    width: 100%;
    height: 100%;
  }

  /*=====================================*/
  /*=====================================*/

  .detail__dashboard {
    width: 100%;
  }

  .detail__dashboard-item {
    height: 100%;
    border-radius: 20px;
    padding: 30px;
  }

  .detail__list-user {
    width: 100%;
    height: 100%;
  }

  .detail__list-user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .detail__list-activity-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .detail__dashboard-item__flex button {
    font-size: 28px;
  }

  /*=====================================*/
  /*=====================================*/
}

@media screen and (min-width: 1000px) {
  header .navigation ul li {
    font-size: 18px;
  }

  .login-page {
    width: 50%;
  }

  .register-page {
    width: 50%;
  }

  .info-page {
    margin-top: 30px;
    display: flex;
    gap: 40px;
  }

  .info-page__text h2 {
    font-size: 30px;
  }

  .info-page__text-acronym {
    font-size: 22px;
  }

  .info-page__text-desc {
    font-size: 18px;
  }

  .info-page__image {
    width: 40%;
    order: 2;
    margin: auto;
  }

  .info-page__image img {
    height: 300px;
  }

  .info-page__container {
    width: 60%;
  }

  .detail__dashboard-title h2 {
    font-size: 28px;
  }

  .detail__dashboard-title p {
    font-size: 16px;
  }

  .detail__dashboard-item__name {
    font-size: 22px;
  }

  .detail__dashboard-item__info p {
    font-size: 14px;
  }

  .detail__list-user-item__money {
    font-size: 12px;
  }

  .about-page__who__list {
    grid-template-columns: 1fr 1fr;
  }

  .about__page__who__image {
    width: 160px;
  }

  .about__page__who__content {
    padding-left: 40px;
  }
}