:root {
  --background: #F4F7ED;
  --on-background: #202124;
  --on-shadow: rgba(0, 0, 0, 0.3);
  --dashboard: #B9F1BF;
  --list: #E0E0E0;
  --button: #0F891B;
  --on-button-text: #FFFFFF;
  --text: #232323;
  --link-logreg: #0F891B;
  --text-small: #636363;
  --text-dark: #323232;
  --text-back: #B79DFF;
  --button-choice: #0F891B;
}

.swal-text {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.swal-modal {
  border-radius: 25px;
}
.swal-button {
  border-radius: 8px;
}
.swal-button--cancel {
  background-color: var(--text-green);
  color: var(--button-text);
}
.swal-button--confirm {
  background-color: var(--text-red);
  color: var(--button-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: background 0.3s ease-in; */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

#root {
  min-height: 85vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  font-weight: 500;
  text-align: center;
  color: #A3ABBB;
  margin-top: 40px;
}

h2, h3 {
  color: var(--title);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--text-nav);
  background-color: var(--background);
  border-bottom: 1px solid var(--on-shadow);
}

header .header-logo-wrapper {
  flex: 1;
  margin-left: 20px;
}

header .navigation ul li {
  display: inline-block;
  font-size: 18px;
  margin: 0 12px;
}

.header-logo-wrapper a {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 25px;
}

main {
  margin: 0 auto;
  padding: 25px 0;
  width: 90%;
  max-width: 1200px;
}

a {
  color: var(--text-nav);
  text-decoration: none;
}

.input__action {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #A3ABBB;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin: 8px 0;
}

.input__action::placeholder {
  color: #A3ABBB;
  font-size: 14px;
}

.currencyinput {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.currencyinput input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.currencyinput p {
  text-align: center;
  padding: 13px;
  background-color: #A3ABBB;
  margin: 8px 0;
  border-radius: 10px 0 0 10px;
}

/* 
=====================================
            HALAMAN HOME
=====================================
*/

.payu__dashboard{
  padding: 6px;
}

.payu__dashboard-item {
  color: var(--text);
  margin-top: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.payu__dashboard-item__text p{
  font-size: 16px;
}

.payu__dashboard-item__button {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 10px;
}

.payu__dashboard-item__button button {
  border: 0;
  font-size: 30px;
  color: var(--text-dark);
  background-color: var(--background);
}

.payu__dashboard-item__button button a{
  color: var(--text-dark);
}

.payu__list-patungan{
  padding: 6px;
}

.payu__list-patungan-item{
  margin: 10px 0;
  background-color: var(--list);
  border-radius: 8px;
  padding: 15px 20px;
}

.payu__list-patungan-item a{
  color: var(--title);
}

.payu__list-patungan-item__text{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.payu__list-patungan-item__text > p {
  padding: 5px 0 5px 0;
  color: var(--text-small);
  font-size: 13px;
}

.payu__list-patungan-item__description{
  font-weight: 600;
}

/* 
=====================================
           HALAMAN DETAIL
=====================================
*/

.detail__dashboard{
  padding: 6px;
}

.detail__dashboard-title {
  padding: 10px 0;
  margin-bottom: 15px;
}

.detail__dashboard-title p {
  font-size: 14px;
}

.detail__dashboard-item {
  color: var(--text-dark);
  margin: 10px 0;
  padding: 20px;
  background-color: var(--dashboard);
  border-radius: 8px;
  font-size: 12px;
}

.detail__dashboard-item__flex {
  display: flex;
  justify-content: space-between;
}

.detail__dashboard-item__flex button {
  border: 0;
  background-color: var(--dashboard);
  font-size: 24px;
}

.detail__dashboard-item__name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.detail__dashboard-item__leftover {
  color: var(--text-green);
}

.detail__dashboard-item__info p {
  font-size: 13px;
  margin: 3px 0;
}

.detail__dashboard-item-button {
  display: flex;
  justify-content: left;
}

.detail__dashboard-item-button button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid var(--button);
  border-radius: 8px;
  background-color: var(--button);
}

.detail__dashboard-item-button button a {
  color: var(--button-text);
}

.detail__list-user{
  padding: 8px;
}

.detail__list-user-choice {
  margin-bottom: 10px;
}

.tab {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  width: 10em;
  height: 3.5em;
  color: var(--text-dark);
  padding: 12px;
  margin-right: 10px;
  border: 0;
  border-radius: 25px;
  background-color: var(--button-choice-default);
}

.active, .tab:hover {
  color: #FFFFFF;
  background-color: var(--button-choice);
  box-shadow: 0 3px 6px 0 var(--on-shadow);
  transition: 0.3s ease-in;
}

.detail__list-user-search {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  border: 2px solid #A3ABBB;
  margin: 10px 0 15px 0;
  border-radius: 10px;
}

.detail__list-user__wrapper {
  color: var(--text);
  margin: 0 0 10px 0;
  padding: 15px 20px;
  background-color: var(--list);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.detail__list-user-item__name{
  color: var(--text-dark);
  font-weight: bolder;
  padding-bottom: 8px;
  font-size: 16px;
}

.detail__list-user-item__money {
  font-size: 12px;
  color: var(--text-green);
}

.detail__list-user-item__money svg {
  color: var(--text-dark);
}

.detail__list-user-button {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.detail__list-user-button button {
  border: 0;
  font-size: 28px;
  background-color: var(--list);
}

.detail__list-user-button button a {
  color: var(--on-background);
}

.detail__list-activity__wrapper {
  color: var(--text);
  margin: 0 0 10px 0;
  padding: 15px 20px;
  background-color: var(--list);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.detail__list-activity-item__name{
  color: var(--text-dark);
  font-weight: bolder;
  padding-bottom: 8px;
  font-size: 16px;
}

.detail__list-activity-item__money {
  font-size: 12px;
  color: var(--text-red);
}

.detail__list-activity-item__money svg {
  color: var(--text-dark);
}

.detail__list-activity-button {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.detail__list-activity-button button {
  border: 0;
  font-size: 28px;
  background-color: var(--list);
}

.detail__list-activity-button button a {
  color: var(--on-background);
}

/* 
=====================================
           TAMBAH PATUNGAN
=====================================
*/


.add-patungan__input{
  margin-top: 10px;
  padding: 5px;
}

.add-patungan__input .add-patungan__input__title {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin-top: 30px;
}

.add-patungan__input__title::placeholder {
  color: #A3ABBB;
}

.add-patungan__wrapper {
  margin: 15px 0;
  padding: 12px;
  background-color: var(--list);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--on-shadow);
}

.add-patungan__wrapper-info {
  color: var(--text-dark);
  background-color: var(--dashboard);
  padding: 18px 22px;
  margin-top: 8px;
  border-radius: 8px;
}

.add-patungan__wrapper-title {
  font-size: 14px;
}

.add-patungan__anggota-info-user {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.add-patungan__anggota-info-money {
  font-size: 12px;
}

.add-patungan__kegiatan-info-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.add-patungan__kegiatan-info-money {
  font-size: 12px;
}

.add-patungan__flex-container {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.add-patungan__flex-container button {
  border: 0;
  font-size: 22px;
  color: var(--text);
  background-color: var(--list);
}

/*========================================*/
/*========================================*/

.add-patungan__add-user {
  margin: 10px 0;
  border-radius: 12px;
}

.add-patungan__add-user__text {
  margin: 15px 0;
}

.add-patungan__add-user__text p {
  color: var(--text-dark);
  font-size: 14px;
}

/*========================================*/
/*========================================*/

.add-patungan__add-activity {
  margin: 10px 0;
  border-radius: 12px;
}

.add-patungan__add-activity__text {
  margin: 15px 0;
}

.add-patungan__add-activity__text p {
  color: var(--text-dark);
  font-size: 14px;
}

/*========================================*/
/*========================================*/

.add-patungan__add-uang {
  margin: 10px 0;
  border-radius: 12px;
  color: var(--text-dark);
}

.add-patungan__add-uang p span{
  font-size: 14px;
}

.add-patungan__add-uang__text {
  margin: 15px 0 20px 0;
}

.add-patungan__add-uang__text p {
  color: var(--text-dark);
  font-size: 14px;
}


/*========================================*/
/*========================================*/

.add-patungan__change-kegiatan {
  margin: 10px 0;
  border-radius: 12px;
  color: var(--text-dark);
}

.add-patungan__change-kegiatan__text {
  margin: 15px 0 20px 0;
}

.add-patungan__change-kegiatan__text p {
  color: var(--text-dark);
  font-size: 14px;
}


/*========================================*/
/*========================================*/

.add-patungan__action {
  margin-top: 15px;
}

.action-submit {
  width: 100%;
  padding: 12px 20px;
  background-color: var(--button);
  color: var(--on-button-text);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-submit svg {
  font-size: 20px;
}

.action-about-page {
  background-color: #0F891B;
}


/* 
=====================================
           ADD NEW PATUNGAN
=====================================
*/
.add-new-patungan__title {
  margin-bottom: 20px;
}

.add-new-patungan__title .optional {
  font-style: italic;
  color: #636363;
  font-size: 14px;
}

.add-new-patungan__input__title,
.add-new-anggota__input__name,
.add-new-anggota__input__value,
.add-new-kegiatan__input__name,
.add-new-kegiatan__input__value {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #A3ABBB;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
}

.add-patungan__input__title::placeholder {
  color: #A3ABBB;
}

.title-submit {
  margin-top: 10px;
}

.action-submit__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--on-button-text);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.new-patungan-action-submit {
  background-color: #656E81;
}

.new-patungan__contaner {
  margin: 20px 0;
}

.new-patungan__title {
  font-weight: 600;
}

.new-anggota__item,
.new-kegiatan__item {
  background-color: #A3ABBB;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #323232;
  margin-top: 10px;
}

.new-anggota__name,
.new-kegiatan__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.new-anggota__money,
.new-kegiatan__money {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.new-anggota__money svg,
.new-kegiatan__money svg {
  margin-right: 5px;
}

.action-delete__anggota,
.action-delete__kegiatan {
  font-size: 30px;
  padding: 7px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.conditional-rendering {
  font-size: 14px;
  font-style: italic;
  color: #636363;
  padding: 20px 0;
}

.add-new-patungan__input .judul,
.add-new-patungan__input .anggota,
.add-new-patungan__input .kegiatan {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #E0E0E0;
}

.add-patungan-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.optional {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 14px;
}


/* 
=====================================
             INFO PAGE
=====================================
*/

.info-page{
  padding: 8px;
}

.info-page__image{
  margin: 10px 10px 50px 10px;
}

.info-page__image img{
  display: block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.info-page__text {
  color: var(--text);
  margin-bottom: 30px;
}

.info-page__text p {
  margin: 10px 0;
}

.info-page__link a{
  padding: 15px 22px;
  margin: 10px 0;
  text-decoration: none;
}

/* 
=====================================
            ABOUT PAGE
=====================================
*/

.about-page {
  padding: 8px;
}

.about-page div h2 {
  color: var(--text-dark-green);
}

.about-page__what p{
  margin: 5px 0 30px 0;
}

.about-page__why p{
  margin: 5px 0 30px 0;
}

.about-page__who ol{
  margin: 5px 0 30px 0;
}

.about-page__who ol li {
  margin-left: 15px;
}

/* 
=====================================
            LOGIN PAGE
=====================================
*/

.login-page {
  padding: 8px;
}

.login-page__header{
  margin-bottom: 25px;
}

.login-page__header p{
  color: var(--text-dark);
}

.login__action {
  margin-top: 15px;
}

.login__action button {
  padding: 15px 22px;
}

.login-page a {
  text-decoration: none;
  color: var(--text-green);
  font-weight: 600;
}

.login__link {
  margin: 15px 2px;
  font-size: 14px;
}

/* 
=====================================
            REGISTER PAGE
=====================================
*/

.register-page {
  padding: 8px
}

.register-page__header{
  margin-bottom: 25px;
}

.register-page__header p{
  color: var(--text-dark);
}

.input-register h2 {
  margin-bottom: 25px;
}

.register__action {
  margin-top: 15px;
}

.register__action button {
  padding: 15px 22px;
}

.register-page a {
  text-decoration: none;
  color: var(--text-green);
  font-weight: 600;
}

.register__link {
  margin: 15px 2px;
  font-size: 14px;
}


/* 
=====================================
            RESPONSIVE
=====================================
*/

@media screen and (max-width: 435px) {
  header h1{
    font-size: 24px;
    margin-left: 10px;
  }

  header .navigation ul li {
    font-size: 14px;
    margin: 0 8px;
  }
}

@media screen and (min-width: 435px) {
  header .navigation ul li {
    font-size: 14px;
    margin: 0 8px;
  }
}

@media screen and (min-width: 600px) {
  .detail__dashboard-item {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {

  .payu__dashboard {
    width: 100%;
  }
  
  .payu__dashboard-item {
    height: 100%;
  }

  .payu__dashboard-item h3 {
    font-size: 26px;
  }

  .payu__dashboard-item__patungan p {
    font-size: 16px;
  }

  .payu__list-patungan-item {
    padding: 20px 25px;
    border-radius: 20px;
  }

  .payu__list-patungan-item__description {
    font-size: 18px;
  }

  .payu__list-patungan-item__text p {
    font-size: 14px;
  }

  .payu__dashboard-item__button button {
    font-size: 32px;
  }

  .payu__list-patungan {
    width: 100%;
    height: 100%;
  }

  /*=====================================*/
  /*=====================================*/

  .detail__dashboard {
    width: 100%;
  }

  .detail__dashboard-item {
    height: 100%;
    border-radius: 20px;
    padding: 30px;
  }

  .detail__list-user {
    width: 100%;
    height: 100%;
  }

  .detail__list-user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .detail__list-activity-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .detail__dashboard-item__flex button {
    font-size: 28px;
  }

  /*=====================================*/
  /*=====================================*/
}

@media screen and (min-width: 1000px) {
  header .navigation ul li {
    font-size: 18px;
  }

  .login-page {
    width: 50%;
  }

  .register-page {
    width: 50%;
  }

  .info-page {
    margin-top: 30px;
    display: flex;
    gap: 40px;
  }

  .info-page__text h2 {
    font-size: 30px;
  }

  .info-page__text-acronym {
    font-size: 22px;
  }

  .info-page__text-desc {
    font-size: 18px;
  }

  .info-page__image {
    width: 40%;
    order: 2;
    margin: auto;
  }

  .info-page__image img{
    height: 300px;
  }

  .info-page__container {
    width: 60%;
  }

  .detail__dashboard-title h2 {
    font-size: 28px;
  }

  .detail__dashboard-title p {
    font-size: 16px;
  }

  .detail__dashboard-item__name {
    font-size: 22px;
  }

  .detail__dashboard-item__info p {
    font-size: 14px;
  }

  .detail__list-user-item__name{
    font-size: 18px;
  }
  
  .detail__list-user-item__money {
    font-size: 12px;
  }

}