@import url('./_header.css');
@import url('./_home.css');
@import url('./_detail.css');
@import url('./_tambah-patungan.css');
@import url('./_info-and-about.css');
@import url('./_login-and-register.css');
@import url('./_responsive.css');

:root {
  --background: #f4f7ed;
  --on-background: #202124;
  --dashboard: #b9f1bf;
  --hero-text: #232323;
  --list: #e0e0e0;
  --text-green: #0F891B;
  --text-red: #F32424;
  --button: #0f891b;
  --on-button-text: #eeeeee;
  --border-grey: #a3abbb;
  --border-header: #00004d;
  --text-dark: #232323;
  --text: #232323;
  --link-logreg: #0f891b;
  --text-small: #636363;
  --text-smaller: #323232;
  --button-choice: #0f891b;
  --input-field: #fafafa;
}

[data-theme='dark'] {
  --background: #202124;
  --on-background: #f4f7ed;
  --text: #eeeeee;
  --text-smaller: #cecccc;
  --list: #0b0b0b;
  --border-header: #4a4a4a;
}

.swal-text {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.swal-modal {
  border-radius: 25px;
}
.swal-button {
  border-radius: 8px;
}
.swal-button--cancel {
  background-color: var(--text-green);
  color: var(--button-text);
}
.swal-button--confirm {
  background-color: var(--text-red);
  color: var(--button-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 0.3s ease-in;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

#root {
  min-height: 85vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.skip-link {
  position: absolute;
  top: -100%;
  left: 0;
  padding: 12px;
  background-color: var(--button);  
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container main {
  margin-bottom: 80px;
}

button:hover {
  cursor: pointer;
}

h2,
h3 {
  color: var(--title);
}


button:hover {
  background-color: #26bd35;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}

main {
  margin: 0 auto;
  padding: 25px 0;
  width: 90%;
  max-width: 1200px;
}

a {
  color: var(--text-nav);
  text-decoration: none;
}

.input__action {
  width: 100%;
  background-color: var(--input-field);
  border: 2px solid #a3abbb;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin: 8px 0;
}

.input__action::placeholder {
  color: #a3abbb;
  font-size: 14px;
}

.currencyinput {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.currencyinput input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.currencyinput p {
  text-align: center;
  padding: 13px;
  background-color: #a3abbb;
  margin: 8px 0;
  border-radius: 10px 0 0 10px;
}

.shared-detail-patungan-notfound-wrapper {
  margin: 10% 10px;
  padding: 10px;
  border: 2px solid black;
  background-color: #c0bbbb;
  text-align: center;
}

/* 
=====================================
            HALAMAN HOME
=====================================
*/

.payu__dashboard{
  padding: 6px;
}

.payu__dashboard-item {
  color: var(--text);
  margin-top: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.payu__dashboard-item__text p{
  font-size: 16px;
}

.payu__dashboard-item__button {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 10px;
}

.payu__dashboard-item__button button {
  border: 0;
  font-size: 30px;
  color: var(--text-dark);
  background-color: var(--background);
}

.payu__dashboard-item__button button a{
  color: var(--text-dark);
}

.payu__list-patungan{
  padding: 6px;
}

.payu__list-patungan-item{
  margin: 10px 0;
  background-color: var(--list);
  border-radius: 8px;
  padding: 15px 20px;
}

.payu__list-patungan-item a{
  color: var(--title);
}

.payu__list-patungan-item__text{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.payu__list-patungan-item__text > p {
  padding: 5px 0 5px 0;
  color: var(--text-small);
  font-size: 13px;
}

.payu__list-patungan-item__description{
  font-weight: 600;
}

/* 
=====================================
           HALAMAN DETAIL
=====================================
*/

.detail__dashboard{
  padding: 6px;
}

.detail__dashboard-title {
  padding: 10px 0;
  margin-bottom: 15px;
}

.detail__dashboard-title p {
  font-size: 14px;
}

.detail__dashboard-item {
  color: var(--text-dark);
  margin: 10px 0;
  padding: 20px;
  background-color: var(--dashboard);
  border-radius: 8px;
  font-size: 12px;
}

.detail__dashboard-item__flex {
  display: grid;
  grid-template-columns: 14fr 1fr 1fr;
}

.detail__dashboard-item__flex button {
  border: 0;
  background-color: var(--dashboard);
  font-size: 24px;
}

.detail__dashboard-item__name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.detail__dashboard-item__leftover {
  color: var(--text-green);
}

.detail__dashboard-item__info p {
  font-size: 13px;
  margin: 3px 0;
}

.detail__dashboard-item-button {
  display: flex;
  justify-content: left;
}

.detail__dashboard-item-button button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid var(--button);
  border-radius: 8px;
  background-color: var(--button);
}

.detail__dashboard-item-button button a {
  color: var(--button-text);
}

.detail__list-user{
  padding: 8px;
}

.detail__list-user-choice {
  margin-bottom: 10px;
}

.tab {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  width: 10em;
  height: 3.5em;
  color: var(--text-dark);
  padding: 12px;
  margin-right: 10px;
  border: 0;
  border-radius: 25px;
  background-color: var(--button-choice-default);
}

.active, .tab:hover {
  color: #FFFFFF;
  background-color: var(--button-choice);
  box-shadow: 0 3px 6px 0 var(--on-shadow);
  transition: 0.3s ease-in;
}

.detail__list-user-search {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  border: 2px solid #A3ABBB;
  margin: 10px 0 15px 0;
  border-radius: 10px;
}

.detail__list-user__wrapper {
  color: var(--text);
  margin: 0 0 10px 0;
  padding: 15px 20px;
  background-color: var(--list);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.detail__list-user-item__name{
  color: var(--text-dark);
  font-weight: bolder;
  padding-bottom: 8px;
  font-size: 16px;
}

.detail__list-user-item__money {
  font-size: 12px;
  color: var(--text-green);
}

.detail__list-user-item__money svg {
  color: var(--text-dark);
}

.detail__list-user-button {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.detail__list-user-button button {
  border: 0;
  font-size: 28px;
  background-color: var(--list);
}

.detail__list-user-button button a {
  color: var(--on-background);
}

.detail__list-activity__wrapper {
  color: var(--text);
  margin: 0 0 10px 0;
  padding: 15px 20px;
  background-color: var(--list);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.detail__list-activity-item__name{
  color: var(--text-dark);
  font-weight: bolder;
  padding-bottom: 8px;
  font-size: 16px;
}

.detail__list-activity-item__money {
  font-size: 12px;
  color: var(--text-red);
}

.detail__list-activity-item__money svg {
  color: var(--text-dark);
}

.detail__list-activity-button {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.detail__list-activity-button button {
  border: 0;
  font-size: 28px;
  background-color: var(--list);
}

.detail__list-activity-button button a {
  color: var(--on-background);
}

/* 
=====================================
           TAMBAH PATUNGAN
=====================================
*/


.add-patungan__input{
  margin-top: 10px;
  padding: 5px;
}

.add-patungan__input .add-patungan__input__title {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin-top: 30px;
}

.add-patungan__input__title::placeholder {
  color: #A3ABBB;
}

.add-patungan__wrapper {
  margin: 15px 0;
  padding: 12px;
  background-color: var(--list);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--on-shadow);
}

.add-patungan__wrapper-info {
  color: var(--text-dark);
  background-color: var(--dashboard);
  padding: 18px 22px;
  margin-top: 8px;
  border-radius: 8px;
}

.add-patungan__wrapper-title {
  font-size: 14px;
}

.add-patungan__anggota-info-user {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.add-patungan__anggota-info-money {
  font-size: 12px;
}

.add-patungan__kegiatan-info-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.add-patungan__kegiatan-info-money {
  font-size: 12px;
}

.add-patungan__flex-container {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.add-patungan__flex-container button {
  border: 0;
  font-size: 22px;
  color: var(--text);
 
footer {
  font-weight: 500;
  text-align: center;
  color: #929aaa;
  background-color: var(--list);
  margin-top: auto;
  width: 100%;
  padding: 20px;
  font-size: 15px;
}

.social-media a {
  margin: 5px;
}