:root {
  --background: #FFFFFF;
  --on-background: #202124;
  --on-shadow: rgba(0, 0, 0, 0.3);
  --dashboard: #6DB4F4;
  --list: #E2E2E2;
  --button: #3B3F46;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 0.3s ease-in;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: white;
  color: #202124;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--on-background);
  background-color: var(--background);
  border-bottom: 1px solid var(--on-shadow);
}

header h1 {
  flex: 1;
  margin-left: 20px;
}

header .navigation ul li {
  display: inline-block;
  font-size: 24px;
  margin: 0 12px;
}

main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
  max-width: 1200px;
}

a {
  color: black;
}

.input__action {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin: 8px 0;
}

.input__action::placeholder {
  color: #A3ABBB;
}


/* 
=====================================
            HALAMAN HOME
=====================================
*/

.payu__dashboard{
  padding: 6px;
  margin-bottom: 15px;
}

.payu__dashboard-item {
  color: white;
  margin: 10px 0 20px 0;
  padding: 20px;
  background-color: var(--dashboard);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--on-shadow);
  padding: 15px;
  height: 10em;
}

.payu__list-patungan{
  padding: 6px;
}

.payu__list-patungan-item{
  color: black;
  margin: 10px 0 20px 0;
  padding: 20px;
  background-color: var(--list);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--on-shadow);
  padding: 15px;
}

.payu__dashboard-item-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
  gap: 15px;
}

.payu__dashboard-item-container > div {
  margin: 8px 0;
}

.payu__list-patungan-item__text{
  display: flex;
  justify-content: space-between;
}

.payu__list-patungan-item__text > p {
  padding: 5px 0 5px 0;
}

.payu__list-patungan-item__description{
  font-weight: bolder;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 
=====================================
           HALAMAN DETAIL
=====================================
*/

.detail__dashboard{
  padding: 6px;
  margin-bottom: 5px;
}

.detail__dashboard-item {
  color: white;
  margin: 10px 0;
  padding: 20px;
  background-color: var(--dashboard);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--on-shadow);
  padding: 15px;
  height: 10em;
}

.detail__dashboard-item-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
  gap: 30px;
}

.detail__list-user{
  padding: 8px;
}

.detail__list-user-choice {
  padding: 10px;
}

.detail__list-user-item{
  color: black;
  margin: 0 0 20px 0;
  padding: 20px;
  background-color: var(--list);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--on-shadow);
  padding: 15px;
}

.detail__list-user-item__name{
  font-weight: bolder;
  padding-bottom: 8px;
}

.detail__action {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 32px;
  right: 32px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--button);
  color: var(--background);
  padding: 8px;
  cursor: pointer;
}

/* 
=====================================
           TAMBAH PATUNGAN
=====================================
*/


.add-patungan__input{
  margin-top: 10px;
  padding: 5px;
}

.add-patungan__input .add-patungan__input__title {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin-top: 20px;
}

.add-patungan__input .add-patungan__input__description {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin-top: 10px;
}

.add-patungan__input__title::placeholder {
  color: #A3ABBB;
}

.add-patungan__input__description::placeholder {
  color: #A3ABBB;
}

.add-patungan__user {
  margin-top: 15px;
}

.add-patungan__add-user {
  margin: 10px 0;
  border: 8px solid #E6E6E6;
  border-radius: 12px;
  background-color: #E6E6E6;
}

.add-patungan__input__name::placeholder {
  color: #A3ABBB;
}

.add-patungan__input__total::placeholder {
  color: #A3ABBB;
}

.add-patungan__input .add-patungan__input__name {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
  margin-bottom: 5px;
}

.add-patungan__input .add-patungan__input__total {
  width: 100%;
  background-color: #FAFAFA;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 13px 10px 13px 20px;
}

.add-patungan__action {
  margin-top: 15px;
}

.action-submit {
  width: 100%;
  padding: 12px 20px;
  background-color: var(--button);
  color: var(--background);
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.action-submit svg {
  font-size: 20px;
}

/* 
=====================================
             INFO PAGE
=====================================
*/

.info-page{
  padding: 8px;
}

.info-page__text {
  margin-bottom: 30px;
}

.info-page__text p {
  margin: 10px 0;
}

.info-page__link a{
  padding: 15px;
  margin: 10px 0;
  text-decoration: none;
}

/* 
=====================================
            ABOUT PAGE
=====================================
*/

.about-page {
  padding: 8px;
}

.about-page__what p{
  margin: 15px 0 25px 0;
}

.about-page__why p{
  margin: 15px 0 25px 0;
}

.about-page__who ol{
  margin: 15px 0 25px 0;
}

.about-page__who ol li {
  margin-left: 15px;
}

/* 
=====================================
            LOGIN PAGE
=====================================
*/

.login-page {
  padding: 8px;
}

.input-login h2 {
  margin-bottom: 25px;
}

.login__action {
  margin-top: 15px;
}

.login__action button {
  padding: 15px;
}

.login-page a {
  text-decoration: none;
  color: #005DFF;
}

.login__link {
  margin: 15px 2px;
  font-size: 14px;
}

/* 
=====================================
            REGISTER PAGE
=====================================
*/

.register-page {
  padding: 8px
}

.input-register h2 {
  margin-bottom: 25px;
}

.register__action {
  margin-top: 15px;
}

.register__action button {
  padding: 15px;
}

.register-page a {
  text-decoration: none;
  color: #005DFF;
}

.register__link {
  margin: 15px 2px;
  font-size: 14px;
}


/* 
=====================================
            RESPONSIVE
=====================================
*/

@media screen and (max-width: 435px) {
  header h1{
    font-size: 24px;
    margin-left: 10px;
  }

  header .navigation ul li {
    font-size: 18px;
    margin: 0 8px;
  }
}

@media screen and (min-width: 768px) {
  .home{
    display: flex;
    justify-content: space-between;
  }

  .payu__dashboard {
    width: 50%;
  }

  .payu__dashboard-item {
    height: 100%;
  }

  .payu__list-patungan {
    width: 50%;
    height: 100%;
  }

  .detail-patungan{
    display: flex;
    justify-content: space-between;
  }

  .detail__dashboard {
    width: 50%;
  }

  .detail__dashboard-item {
    height: 100%;
  }

  .detail__list-user {
    width: 50%;
    height: 100%;
  }
}